section(class="hero is-dark has-text-centered")
    div(class="hero-body")
        div(class="container")
            h1(class="title is-gradient-text") Hello.
            p(class="intro-text") My name is Steven Waters and I'm a full-stack developer with a passion for front-end development, UI, and UX. The languages I know best are HTML5, CSS3, JavaScript, and PHP.
section(class="section has-text-centered")
    div(class="container")
        h2(class="title is-2 has-text-primary") Skills
        div(class="tabs is-toggle is-toggle-rounded")
            ul
                - var i = 0
                each categoryObj, categoryName in skills
                    - var classList = (i === 0) ? "tab is-active" : "tab"
                    li(class=classList)
                        a(href="#tab-" + i)= categoryName
                    - i++
        - var i = 0
        each categoryObj, categoryName in skills
            - var classList = (i === 0) ? "tab-content is-active" : "tab-content"
            div(id="tab-" + i, class=classList)
                h3(class="title is-3 is-capitalized has-text-primary ")=categoryName
                h5(class="subtitle is-5") <span class="tag is-primary inline-flex">w</span> = Working Knowledge <span class="tag is-primary inline-flex">b</span> = Basic Knowledge
                each skillLevel, name in categoryObj
                    h4(class="title is-4 has-text-left has-text-primary")=name
                        sup
                            span(class="tag is-primary")= (skillLevel > 50) ? 'w' : 'b'
                    progress(class="progress is-large" value=skillLevel max="100")
            - i++
section(class="section has-text-centered")
    div(class="container")
        h2(class="title is-2 has-text-primary") Projects
        p(class="subtitle has-text-primary") Most of these are just experimentations for now, because most of my professional experience involved working on proprietary / semi-intranet web apps.
        div(class="tile is-ancestor", style="flex-wrap: wrap")
            each project in projects
                - var classList = (projects.length < 3) ? 'tile is-parent is-4' : 'tile is-parent is-4'
                div(class=classList)
                    div(class="tile project is-child box has-text-centered")
                        figure(class="image image is-square")
                            img(class="project-screenshot", src='images/screenshots-resized/' + project.thumbnailFileName + '.png', alt=project.altText)
                        div(class="project-details")
                            p(class="project-description")= project.descriptionText
                            a(class="button is-primary is-rounded", href=project.url, title=project.linkTitleText)=project.linkText + ' »'
section(class="section")
    div(class="container")
        h2(class="title is-2 has-text-primary has-text-centered") Get In Touch
        div(class="tile is-ancestor")
            div(class="tile is-parent")
                form(action="https://formspree.io/swaters86@gmail.com", method="POST", class="tile is-child box")
                    div(class="field is-horzontal")
                        div(class="field-body")
                            div(class="field")
                                label(for="name", class="label has-text-primary") Name
                                div(class="control")
                                    input(id="name", class="input", type="text", name="name", placeholder="Bob Lawblob", required)
                            div(class="field")
                                label(for="email", class="label has-text-primary") Email
                                div(class="control")
                                    input(id="email", class="input", type="email", name="_replyto", placeholder="bob.lawblob@example.com", requierd)
                    div(class="field")
                        label(for="message", class="label has-text-primary") Message
                        div(class="control")
                            textarea(id="message", class="textarea", type="text", name="message", placeholder="Your Message", required)
                    div(class="field")
                        div(class="control")
                            button(type="submit", class="button is-primary is-rounded") Submit
                    h4(class="title is-4 has-text-primary has-text-centered")  Social Media
                    div(class="social-media-icons has-text-centered")
                        a(href="https://github.com/swaters86", title="Steven's Github.com Profile")
                            span(class="icon")
                                img(src="svg/github.svg", alt="Github.com Logo Icon")
                            span(class="icon-link") Codepen                    
                        a(href="https://codepen.io/swaters86/pens/public/", title="Steven's Codepen.io Profile")
                            span(class="icon")
                                img(src="svg/codepen.svg", alt="Codepen.io Logo Icon")
                            span(class="icon-link") Codepen
                        a(href="https://www.linkedin.com/in/stevenwaters/", title="Steven's LinkedIn.com Profile")
                            span(class="icon")
                                img(src="svg/linkedin.svg", alt="Linkedin.com Logo Icon")
                            span(class="icon-link") LinkedIn
