div(class="container")
 section(class="intro")
    h1(class="intro__headline_level_1 gradient-1") From Web Designer to Full-Stack Developer
    p(class="intro__text") My name is Steven Waters and I'm a full-stack developer with a passion for front-end development, UI, and UX. The languages I know best are HTML5, CSS3, JavaScript, and PHP.
 section(class="skills")
    h2(class="skills__headline__level__2") Skills
    h3(class="skills__headline__level__3") Languages
    ul(class="skills-list")
        each skillLevel, name in languages
            li(class="skills-list__heading")= name
            li(class="skills-list__bar")
                div(class="skills-list--rating", style="width:" + skillLevel + "%")
    h3(class="skills__headline__level__3") Software
    ul(class="skills-list")
        each skillLevel, name in software
            li(class="skills-list__heading skills-list--alt")= name
            li(class="skills-list__bar")
                div(class="skills-list--rating skills-list--rating--alt", style="width:" + skillLevel + "%")
    h3(class="skills__headline__level__3") Tools
    ul(class="skills-list")
        each skillLevel, name in tools
            li(class="skills-list__heading")= name
            li(class="skills-list__bar")
                div(class="skills-list--rating", style="width:" + skillLevel + "%")
    h3(class="skills__headline__level__3") Frameworks
    ul(class="skills-list")
        each skillLevel, name in frameworks
            li(class="skills-list__heading skills-list--alt")= name
            li(class="skills-list__bar")
                div(class="skills-list--rating skills-list--rating--alt", style="width:" + skillLevel + "%")
    h3(class="skills__headline__level__3") libraries
    ul(class="skills-list")
        each skillLevel, name in libraries
            li(class="skills-list__heading")= name
            li(class="skills-list__bar")
                div(class="skills-list--rating", style="width:" + skillLevel + "%")
    h3(class="skills__headline__level__3") Other
    ul(class="skills-list")
        each skillLevel, name in other
            li(class="skills-list__heading skills-list--alt")= name
            li(class="skills-list__bar")
                div(class="skills-list--rating skills-list--rating--alt", style="width:" + skillLevel + "%")