section(class="hero is-dark has-text-centered")
    div(class="hero-body")
        div(class="container")
            h1(class="title") Hello.
            p(class="is-size-2 is-size-5-mobile") My name is Steven Waters. I'm a full-stack developer with a passion for front-end development, UI, and UX. The languages I know best are HTML5, CSS3, JavaScript, and PHP.
section(class="section has-text-centered")
    div(class="container")
        h2(class="title is-2 has-text-primary") Skills
        div(class="tabs is-toggle is-toggle-rounded")
            ul
                - var i = 0
                each categoryObj, categoryName in skills
                    - var classList = (i === 0) ? "tab is-active" : "tab"
                    li(class=classList)
                        a(href="#tab-" + i)= categoryName
                    - i++
        - var i = 0
        each categoryObj, categoryName in skills
            - var classList = (i === 0) ? "tab-content is-active" : "tab-content"
            div(id="tab-" + i, class=classList)
                h3(class="title is-3 is-capitalized has-text-primary ")=categoryName
                each skillLevel, name in categoryObj
                    div(class="progress-labels")
                        span(class="label has-text-primary")=name
                        span(class="label has-text-primary")=skillLevel + "%"
                    progress(class="progress is-primary is-large", value=skillLevel, max="100")= skillLevel
            - i++
section(class="section contact")
    h2(class="title is-2 has-text-primary has-text-centered") Get in Touch
    div(class="container")
        div(class="columns")
            div(class="column is-12")
                form(action="https://formspree.io/swaters86@gmail.com", method="POST")
                    div(class="field is-horzontal")
                        div(class="field-body")
                            div(class="field")
                                label(for="name", class="label has-text-primary") Name
                                div(class="control")
                                    input(id="name", class="input", type="text", name="name", placeholder="Bob Lawblob", required)
                            div(class="field")
                                label(for="email", class="label has-text-primary") Email
                                div(class="control")
                                    input(id="email", class="input", type="email", name="_replyto", placeholder="bob.lawblob@example.com", required)
                    div(class="field")
                        label(for="message", class="label has-text-primary") Message
                        div(class="control")
                            textarea(id="message", class="textarea", name="message", placeholder="Your Message", required)
                    div(class="field")
                        div(class="control")
                            button(type="submit", class="button is-primary is-rounded") Submit
    div(class="social-media-container")
        h2(class="title is-4 has-text-primary has-text-centered") Social Media
        div(class="columns is-centered")
            div(class="column is-2 has-text-centered")
                a(href="https://github.com/swaters86", title="Visit Github.com Profile")
                    span(class="icon icon is-large")
                        img(class="image" src="svg/github.svg", alt="Visit Github.com Profile")
                        span Github
            div(class="column is-2 has-text-centered")
                a(href="https://codepen.io/swaters86/pens/public/", title="Visit Codepen.io Profile")           
                    span(class="icon icon is-large")
                        img(src="svg/codepen.svg", alt="Visit Codepen.io Profile")
                        span Codepen    
            div(class="column is-2 has-text-centered")
                a(href="https://www.linkedin.com/in/stevenwaters/", title="Visit LinkedIn.com Profile")
                    span(class="icon icon is-large")
                        img(src="svg/linkedin.svg", alt="Visit Linkedin.com Profile")
                        span LinkedIn
